// Utilities

$primary-color: #42e2b8;
$secondary-color: #278b71;
$dark-color: #333;
$light-color: #f4f4f4;
$color-success: rgb(36, 156, 36);
$color-error: rgb(226, 15, 15);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.5;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.lead {
  font-size: 20px;
}
.sm {
  font-size: 1rem;
}
.md {
  font-size: 2rem;
}
.lg {
  font-size: 3rem;
}
.xl {
  font-size: 4rem;
}

.container {
  width: 90%;
  max-width: 1140px;
  overflow: auto;
  padding: 0 40px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;

  &-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

//btn
.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    transform: scale(0.98);
  }

  &--outline {
    background: transparent;
    border: 1px solid #333;
    color: #333;
  }
}

// color
.bg-primary,
.btn-primary {
  background-color: $primary-color;
}
.bg-secondary,
.btn-secondary {
  background-color: $secondary-color;
}
.bg-dark,
.btn-dark {
  background-color: $dark-color;
}
.bg-light,
.btn-light {
  background-color: $light-color;
}

.text-center {
  text-align: center;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 3rem;
}
.p-5 {
  padding: 4rem;
}

.alert {
  background-color: $light-color;
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0;

  &--success {
    background-color: $color-success;
  }

  &--error {
    background-color: $color-error;
  }

  i {
    margin-right: 10px;
  }
}

//   Navbar
.navbar {
  background-color: $primary-color;

  .flex {
    justify-content: space-between;
  }

  ul {
    display: flex;
  }

  a {
    padding: 10px;
    margin: 0 5px;
    color: #333;

    &:hover {
      border-bottom: 2px #fff solid;
    }
  }
}

// Showcase
.showcase {
  height: 400px;
  background-color: $primary-color;
  color: #333;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    transform: skewY(-3deg);
    background-color: #fff;
  }

  &__text {
    animation: slideInFromLeft 1s ease-in;
  }

  h1 {
    font-size: 40px;
  }

  p {
    margin: 20px 0;
  }

  .grid {
    grid-template-columns: 55% 45%;
    overflow: visible;
  }

  &__form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;

    .form-control {
      margin: 30px 0;

      input[type="text"],
      input[type="email"] {
        width: 100%;
        border: none;
        border-bottom: 1px solid lighten($primary-color, 0.5);
        padding: 3px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

// Stats
.stats {
  padding-top: 100px;

  &__heading {
    max-width: 500px;
    margin: 0 auto;
  }

  .grid {
    h3 {
      font-size: 35px;
    }
    p {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

// CLI
.cli {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  img {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
}

// Cloud
.cloud {
  .grid {
    grid-template-columns: 4fr 3fr;
  }
}

// Languages
.languages {
  .flex {
    flex-wrap: wrap;

    .card {
      text-align: center;
      margin: 18px 10px 40px;
      transition: 0.3s ease;

      &:hover {
        transform: translateY(-15px);
      }

      h4 {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
}

// Features
.features-head {
  margin-bottom: 0;
  .md {
    margin-top: 0;
  }
  img {
    width: 200px;
    justify-self: flex-end;
  }
}

.features-subhead {
  img {
    width: 300px;
    justify-self: flex-end;
  }
}

.features-main {
  .grid {
    padding: 30px;

    & > *:first-child {
      grid-column: 1 / span 3;
    }

    & > *:nth-child(2) {
      grid-column: 1 / span 2;
    }
    p {
      padding-left: 1rem;
    }
  }
}

.docs-head {
  margin-bottom: 0;
  .md {
    margin-top: 0;
  }
  img {
    width: 200px;
    justify-self: flex-end;
  }
}

.docs-main {
  .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    div {
      padding-left: 1rem;
    }
  }
  nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
  a:hover {
    font-weight: bold;
  }
}

pre code {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}

// Footer
.footer {
  color: #fff;
  a {
    color: #fff;
  }
}

// Animation
@keyframes slideInFromLeft {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

// Tablets and under
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;

    &__text {
      text-align: center;
      margin-top: 40px;
      animation: slideInFromTop 1s ease-in;
    }

    &__form {
      justify-self: center;
      margin: auto;
      animation: slideInFromBottom 1s ease-in;
    }
  }

  .cli {
    img {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .features-head,
  .features-subhead,
  .docs-head {
    text-align: center;

    img {
      justify-self: center;
    }
  }

  .features-main .grid > *:first-child {
    .features-main .grid > *:nth-child(2) {
      display: none;
    }
  }

  //Mobile

  @media (max-width: 500px) {
    .navbar {
      height: 110px;

      .flex {
        flex-direction: column;

        ul {
          padding: 10px;
        }
      }
    }
  }
}
