* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.5;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.container {
  width: 90%;
  max-width: 1140px;
  overflow: auto;
  padding: 0 40px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.grid-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #42e2b8;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn--outline {
  background: transparent;
  border: 1px solid #333;
  color: #333;
}

.bg-primary,
.btn-primary {
  background-color: #42e2b8;
}

.bg-secondary,
.btn-secondary {
  background-color: #278b71;
}

.bg-dark,
.btn-dark {
  background-color: #333;
}

.bg-light,
.btn-light {
  background-color: #f4f4f4;
}

.text-center {
  text-align: center;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.alert {
  background-color: #f4f4f4;
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0;
}

.alert--success {
  background-color: #249c24;
}

.alert--error {
  background-color: #e20f0f;
}

.alert i {
  margin-right: 10px;
}

.navbar {
  background-color: #42e2b8;
}

.navbar .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
  color: #333;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.showcase {
  height: 400px;
  background-color: #42e2b8;
  color: #333;
  position: relative;
}

.showcase::before, .showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  background-color: #fff;
}

.showcase__text {
  -webkit-animation: slideInFromLeft 1s ease-in;
          animation: slideInFromLeft 1s ease-in;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  overflow: visible;
}

.showcase__form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  -webkit-animation: slideInFromRight 1s ease-in;
          animation: slideInFromRight 1s ease-in;
}

.showcase__form .form-control {
  margin: 30px 0;
}

.showcase__form .form-control input[type="text"],
.showcase__form .form-control input[type="email"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #44e2b9;
  padding: 3px;
}

.showcase__form .form-control input[type="text"]:focus,
.showcase__form .form-control input[type="email"]:focus {
  outline: none;
}

.stats {
  padding-top: 100px;
}

.stats__heading {
  max-width: 500px;
  margin: 0 auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

.cli .grid {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.cli img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.cloud .grid {
  -ms-grid-columns: 4fr 3fr;
      grid-template-columns: 4fr 3fr;
}

.languages .flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.languages .flex .card {
  text-align: center;
  margin: 18px 10px 40px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.languages .flex .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.languages .flex .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.features-head {
  margin-bottom: 0;
}

.features-head .md {
  margin-top: 0;
}

.features-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-subhead img {
  width: 300px;
  justify-self: flex-end;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid > *:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.features-main .grid p {
  padding-left: 1rem;
}

.docs-head {
  margin-bottom: 0;
}

.docs-head .md {
  margin-top: 0;
}

.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.docs-main .grid {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.docs-main .grid div {
  padding-left: 1rem;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.docs-main a:hover {
  font-weight: bold;
}

pre code {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.footer {
  color: #fff;
}

.footer a {
  color: #fff;
}

@-webkit-keyframes slideInFromLeft {
  from {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes slideInFromLeft {
  from {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes slideInFromRight {
  from {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes slideInFromRight {
  from {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes slideInFromTop {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInFromBottom {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .showcase {
    height: auto;
  }
  .showcase__text {
    text-align: center;
    margin-top: 40px;
    -webkit-animation: slideInFromTop 1s ease-in;
            animation: slideInFromTop 1s ease-in;
  }
  .showcase__form {
    -ms-grid-column-align: center;
        justify-self: center;
    margin: auto;
    -webkit-animation: slideInFromBottom 1s ease-in;
            animation: slideInFromBottom 1s ease-in;
  }
  .cli img {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .features-head,
  .features-subhead,
  .docs-head {
    text-align: center;
  }
  .features-head img,
  .features-subhead img,
  .docs-head img {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .features-main .grid > *:first-child .features-main .grid > *:nth-child(2) {
    display: none;
  }
}

@media (max-width: 768px) and (max-width: 500px) {
  .navbar {
    height: 110px;
  }
  .navbar .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .flex ul {
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */